---
apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: jaeger
spec:
  type: ClusterIP
  selector:
    app: jaeger
  ports:
    - name: zipkin
      protocol: TCP
      port: 9411
      targetPort: 9411
    - name: collector
      protocol: TCP
      port: 14268
      targetPort: 14268
    - name: query
      protocol: TCP
      port: 16686
      targetPort: 16686
